<!-- mitmachen -->
<div class="row">
    <section id="join" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Newsletter</h2>
            <p>Du möchtest auf dem Laufenden bleiben? Über unseren Newsletter erhälst du alle paar Monate ein Update über Hofereignisse sowie Einladungen zu Veranstaltungen.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="" target="_blank">Zum Newsletter</a>
        </div>
    </section>
</div>
