<header class="header">
    <div class="header-inner">

        <ul class="main-nav">
            {% assign base_dir = page.url | split:'/'  %}
            {% assign base_dir = base_dir  %}
            <li><a href="/">Home</a></li>
            <li {% if base_dir[1] == 'support' %} class="current" {% endif %}><a href="/support">Unterstützen</a></li>
            <li {% if base_dir[1] == 'join' %} class="current" {% endif %}><a href="/#join">Kontakt</a></li>

        </ul>

        <div class="nav-toggle"><span></span></div>
    </div>
</header>
